body {
    background: #ffffff;
}

body:not(.modal-open){
    /* Esta linea si se quita se observa un comportamiento anormal cuando aparecen
    las ventanas modal */
    padding-right: 0px !important;
}

#barra-cont-form-search{
    opacity : 0;
}

#pedidos-tabla {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
  
#pedidos-tabla td, #pedidos-tabla th {
    /*color: #2b686e; */
    padding: 10px;
}
  
#pedidos-tabla td {
    text-align: center;
    vertical-align: middle;
}
#pedidos-tabla td:nth-child(3), #pedidos-tabla td:nth-child(4) {
    text-align: left;
}    
  
#pedidos-tabla th {
    background-color: #d8ffd3;
    font-weight: 300;
}

#pedidos-tabla tr:nth-child(2n) {
    background-color: white;
}

#pedidos-tabla tr:nth-child(2n+1) {
    background-color:#F2F2F2;
}

#div_boton_mas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#lista_carga_mas {
    width: 80%;
    max-width: 300px;
}

.col_actions{
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
}

#cliente_detalle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#PedidosModalStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Pedido-ID{
    width: clamp(370px,50%,500px);
    display: flex;
    gap: 10px;
}

#Pedido-Status {
    width: clamp(360px,50%,500px);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

#pedido-monto{
    max-width: 6rem;
}

/*********************************************
/ MODAL DE LA DISTRIBUCIÓN DE LOS BULTOS     */
.bulto-titulo {
    font-weight: bold;
}

.bulto-prod-idproducto {
    width: 150px;
}

.bulto-prod-cantidad {
    width: 60px;
    text-align:right;
}
/**************************************************/

#saldos_mensuales {
    width: clamp(400px,50%,500px);
}


@media screen and (max-width: 700px) {
    #pedidos-tabla tr {
        width: 100vw;
    }

    /* #pedidos-tabla, tr, td {
      display: block;
    } */

    /* #pedidos-tabla, tr, td {
      display: block;
    }

    #pedidos-tabla tr {
        display: block;
    } */

    #pedidos-tabla tr, #pedidos-tabla td {
        display: block;
    }
  
    #pedidos-tabla thead {
        display: none;
    }

    #pedidos-tabla td:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
    }
    #pedidos-tabla td:not(:first-child) {
        clear: both;
        margin-left: 100px;
        padding: 4px 20px 4px 90px;
        position: relative;
        text-align: left;
    }
    #pedidos-tabla td:not(:first-child):before {
        color: #026222;
        content: "";
        display: block;
        left: 0;
        position: absolute;
    }
    #pedidos-tabla td:nth-child(2):before {
        content: "Fecha:";
    }
    #pedidos-tabla td:nth-child(3):before {
        content: "Cliente:";
    }
    #pedidos-tabla td:nth-child(4):before {
        content: "Vendedor:";
    }
    #pedidos-tabla td:nth-child(5):before {
        content: "Monto:";
    }
    #pedidos-tabla td:nth-child(6):before {
        content: "Estatus:";
    }
    #pedidos-tabla td:nth-child(7):before {
        content: "Acción:";
    }

    #pedidos-tabla tr {
        padding: 10px 0;
        position: relative;
    }
    
    .tabla-header{
        display: none;
    }

    #saldos_mensuales{
        width: 100%;
    }


  }


  @media screen and (max-width: 500px) {
    .header {
      background-color: transparent;
      color: #6b6b6b;
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    #pedidos-tabla td:first-child {
      background-color: #d8ffd3;
      border-bottom: 1px solid #dee2e6;
      border-radius: 10px 10px 0 0;
      position: relative;
      top: 0;
      transform: translateY(0);
      width: 100vw;
    }

    #pedidos-tabla td:not(:first-child) {
      margin: 0;
      padding: 5px 1em;
      width: 100%;
    }

    #pedidos-tabla td:not(:first-child):before {
      font-size: 0.8em;
      padding-top: 0.3em;
      position: relative;
    }

    #pedidos-tabla td:last-child {
      padding-bottom: 1rem !important;
    }
  
    #pedidos-tabla tr {
      background-color: white !important;
      border: 1px solid #dee2e6;
      border-radius: 10px;
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      margin: 0.5rem 0;
      padding: 0;
    }
  
    .table-pedidos {
      border: none;
      box-shadow: none;
      overflow: visible;
    }

    #PedidosModalFacturas{
        font-size: 0.9rem;
    }

}
